{% extends 'base.html.j2' %}
{% import 'macros.html.j2' as mak%}

{% block head %}
<title>Archevnebi   </title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/arch.css') }}">
{% endblock %}

{% block body %}

{{ mak.nav() }}


<div class="parallax">
    <div class="overlay">
        <h1>ოქტომბრის არჩევნები</h1>
        <p>მოემზადე ოქტომბრის არჩევნებისთვის.</p>
    </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-5 p-1">
      <div class="card px-3 px-sm-4 py-3 mt-3" style="border-radius: 20px;">
        <h1 class="text-center"> რა არის ახალი არჩევნებში </h1>
        <div class="body-text text-justify medium"><b>&emsp;2024 წლის 26 ოქტომბერს პირველად საქართველოს თანამედროვე ისტორიაში, საპარლამენტო არჩევნები სრული პროპორციულობით ჩატარდება</b></div>
        <div class="body-text text-justify medium m-1">&emsp;რას მოიცავს პროპორციული არჩევნები?</div>
        <div class="body-text text-justify medium">საქართველოში დახურული სიის პროპორციული არჩევნები გვაქ, რაც ნიშნავს, რომ თითოეული პოლიტიკური პარტია დეპუტატების სიას აქვეყნებს. არჩევნების შემდეგ პოლიტიკურ პარტიებს ხმების მიხედვით პროპორციულად უნაწილდებათ ადგილები და სიაში პირველი პრიორიტეტს იღებს მეორე მეორე ეს მანამ გრძელდება სანამ პოლიტიკურ პარტიას საკმარისი ხმა აქვს შემდეგი დელიგატისთვის.</div>
        <div class="body-text text-justify medium m-1">&emsp;რა არის ბარიერი და რატომ გვაქვს ბარიერი?</div>
        <div class="body-text text-justify medium">არჩევნებზე ხუთ პროცენტიანი ბარიერია დაწესებული. რაც ნიშნავს რომ პარტია რომელიც ამომრჩევლის ხუთ პროცენტს ვერ მიიღებს პარლამენტში ერთ ადგილსაც ვერ აიღებს.</div>
        <div class="body-text text-justify medium m-1">ეს წესი შემოღებულია სუსტი პოლიტიკური ძალების არიდების მიზნით, ხშირად ბუნებრივ ბარიერიან პროპორციულ სისტემებში, საკანონმდებლო ორგანო ბევრ ფრაქციად იყოფა და არა სტაბილურ სისტემას ქმნის.</div>
        <div class="body-text text-justify medium mx-3">“5%-იანი მხარდაჭერის მიღებას, დაახლოებით, 95 000 ხმა სჭირდება, როდესაც ამ ხმას ვერ იღებ, ეს ნიშნავს, რომ პარტია არ ხარ.“ - ამბობს ირაკლი კობახიძე </div>
    </div>
    <div class="card px-3 px-sm-4 py-3 mt-3" style="border-radius: 20px;">
        <h1 class="text-center"> როგორ მივცეთ ხმა არჩევნებში საქართველოდან</h1>
        <div class="body-text text-justify medium">დეტალური ინსტრუქციები არჩევნებში ცესკოს ოფიციალურ ვებგვერდზეა განთავსებული</div>
        <button type="button" onclick="window.location.href='https://cesko.ge/ge/parlamentis-archevnebi-2024-hid'" class="btn btn-primary">ცესკო: 2024 წლის არჩევნები</button>
    </div>
    <div class="card px-3 px-sm-4 py-3 mt-3" style="border-radius: 20px;">
        <h1 class="text-center"> როგორ მივცეთ ხმა არჩევნებში საზღვარგარეთიდან</h1>
        <div class="body-text text-justify medium">საზღვარგარეთიდან ხმის მიცემისთვის საჭიროა</div>
        <div class="body-text text-justify medium">&emsp;ა)იმყოფებოდეთ/დადგეთ საკონსულო აღრიცხვაზე; ან </div>
        <div class="body-text text-justify medium">&emsp;ბ)7 ოქტომბრის ჩათვლით ადგილსამყოფელი ქვეყნის მიხედვით გაიაროთ საარჩევნო რეგისტრაცია საარჩევნო უბანში, რომელიც არჩევნებამდე არაუგვიანეს 30-ე დღისა (26 სექტემბერი) იხსნება საქართველოს დიპლომატიური წარმომადგენლობებსა და საკონსულო დაწესებულებებში.</div>
        <div class="body-text text-justify medium">აღრიცხვაზე დადგმოს მერე შემდგომი ნაბიჯი 26 ოქტომბერს დილის 8 საათიდან საღამოს 8 საათამდე საარჩევნო უბანში გამოცხადებაა ან პირადობის მოწმობით ან აქტიური პასპურტით. საარჩევნო უბანი საქართველოს დიპლომატიურ წარმომადგენლობებსა და საკონსულო დაწესებულებებში გაიხსნება, ეს ხშირ შემთხვევაში დედაქალაქია.</div>
        <div class="body-text text-justify medium">შეგიძლიათ დეტალური ინსტრუქცია იხილოთ საგარეო საქმეთა სამინისტროს ვებგვერდზე:</div>
        <button type="button" onclick="window.location.href='https://mfa.gov.ge/Parlamentary-Elections-2024'" class="btn btn-primary">საგარეო საქმეთა სამინისტრო: 2024 წლის არჩევნები</button>
        <br>
       <div class="body-text text-justify medium"><b>რადგან ზოგისთვის, განსაკუთრებისთვის სტუდენტებისთვის, ძნელია არჩევნებისთვის მოგზაურობა ან დასარჩენი ადგილის ნახვა, ჩვენ, „ახალგაზრდები ევროპისთვის“ გუნდმა გადავწყივტეთ შეგვექმნა სისტემა სადაც მსურველ მასპინძლებს დავაკვშირებდით მსურველ მოსწვალეებთან. </b></div>
    </div>

<!-- NEW SECTION !-->
<div class="col-12 px-2 px-sm-4 py-3 mt-3">
  <div class="second-box">
    <div class="row">
      <div class="col-12 p-4" style="height: 105px;">
        <h3>მოემზადეთ არჩევნებისთვის საზღვარგარეთიდან</h2>
      </div>
      {{mak.phone()}}
      <br>
      </div>
    <div class="row">
      <div class="col-12 col-lg-6">
    <!-- host form -->
    <div class="row">
    <form action="/submitMs" method="post">
      <div class="col-12 m-2" style="height: 75px;">
        <h5>დარეგისტრირდი როგორც მასპინძელი</h5>
      </div>
      <div class="row">
        <div class="col-12 m-2">
          <input type="text" class="form-control" placeholder="სახელი" aria-label="სახელი" name="name">
        </div>
      </div>
      <div class="row">
        <div class="col-12 m-2">
          <input type="text" class="form-control" placeholder="გვარი" aria-label="გვარი" name="surname">
        </div>
      </div>
      <div class="row">
        <div class="col-12 m-2">
          <input type="text"  class="form-control" aria-label="ქალაქი" placeholder="ქალაქი" name="city">
        </div>
      </div>
      <div class="row">
        <div class="col-12 m-2">
          <input type="text" class="form-control" placeholder="ელფოსტა" aria-label="ელფოსტა" name="email">
        </div>
      </div>
      <div class="row">
        <div class="col-12 m-2">
          <button type="submit" class="btn btn-primary">გაგზავნეთ</button>
        </div>
    </form>
    </div>
    </div>
    </div>
    <!-- end of host form -->
    <!-- guest form -->
    <div class="col-12 col-lg-6">
    <div class="row">
    <form action="/submitSt" method="post">
      <div class="col-12 m-2" style="height: 75px;">
        <h5>დარეგისტრირდი როგორც სტუმარი</h5>
      </div>
      <div class="row">
        <div class="col-12 m-2">
          <input type="text" class="form-control" placeholder="სახელი" aria-label="სახელი" name="name">
        </div>
      </div>
      <div class="row">
        <div class="col-12 m-2">
          <input type="text" class="form-control" placeholder="გვარი" aria-label="გვარი" name="surname">
        </div>
      </div>
      <div class="row">
        <div class="col-12 m-2">
          <input type="text"  class="form-control" aria-label="ქალაქი" placeholder="ქალაქი" name="city">
        </div>
      </div>
      <div class="row">
        <div class="col-12 m-2">
          <input type="text" class="form-control" placeholder="ელფოსტა" aria-label="ელფოსტა" name="email">
        </div>
      </div>
      <div class="row">
        <div class="col-12 m-2">
          <button type="submit" class="btn btn-primary">გაგზავნეთ</button>
        </div>
    </form>
    </div>
    </div>



<!-- END !-->
  </div>
</div>



{%endblock%}