<!-- navigation bar -->
{% macro nav() %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #eddeb7; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);">
  <div class="container-fluid mx-3">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="{{url_for('static', filename='images/youth.png')}}" alt="Logo" height="80" class="d-inline-block align-top">
      <div class="d-block d-lg-none">
        <div class="mx-2 text-center">
          ᲐᲮᲐᲚᲒᲐᲖᲠᲓᲔᲑᲘ <br> ᲔᲕᲠᲝᲞᲘᲡᲗᲕᲘᲡ
        </div>
      </div>
      <div class="d-none d-lg-block">
        <div class="mx-4 text-center nt main-text">
          ᲐᲮᲐᲚᲒᲐᲖᲠᲓᲔᲑᲘ ᲔᲕᲠᲝᲞᲘᲡᲗᲕᲘᲡ
        </div>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/archevnebi">არჩევნები</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ჩვენ შესახებ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endmacro %}

{% macro footer() %}
<!-- Remove the container if you want to extend the Footer to full width. -->
<footer class="container-fluid text-black" style="height: 100px; margin-top: 200px; background-color: #eddeb7;">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <p class="font-weight-normal m-4 mb-0">
      ᲐᲮᲐᲚᲒᲐᲖᲠᲓᲔᲑᲘ ᲔᲕᲠᲝᲞᲘᲡᲗᲕᲘᲡ
    </p>
  </div>
</footer>
<!-- End of .container -->
{%endmacro%}
{% macro laptop() %}
<div class="d-none d-lg-block">

{% endmacro %}

{% macro phone()%}
<div class="d-block d-lg-none">

{% endmacro %}