{% extends 'base.html.j2' %} 
{% import 'macros.html.j2' as mak%}

{% block head %}
<title>Youth For Europe</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/stat.css') }}">
{% endblock %} 
{% block body %}
{{mak.nav()}}


<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 p-2">
      <div class="card px-3 px-sm-5 py-4 mt-4" style="border-radius: 20px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
        <h1 class="text-center mb-3">{{ entry.title }}</h1>
        <p class="text-center text-muted mb-4">Published on: {{ entry.date_created.strftime('%Y-%m-%d') }}</p>
        <div class="body-text main-text text-justify">{{ entry.content | safe }}</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

